body{
    background-color: aquamarine;
}
.container{
    display: grid;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 400px 500px 200px;
    border: 1px solid red;
}
.child1{
    background-color: #679ed1;
    border: 1px dotted green;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    /* width: 300px;
    height: 300px; */
}
.child11{
    width: 100px;
    height: 100px;
    border: 1px dotted red;
    background-color: aquamarine;
    margin-left: 20px;
    margin-top: 20px;
}
.child12{
    width: 100px;
    height: 100px;
    border: 1px dotted cyan;
    background-color: brown;
    margin-top: 20px;
}
.child13{
    width: 100px;
    height: 100px;
    border: 1px dotted blueviolet;
    background-color: purple;
    margin-left: 20px;
}
.child14{
    width: 100px;
    height: 100px;
    border: 1px dotted rosybrown;
    background-color: coral;
    
}

.child2{
    background-color: red;
    border: 1px dotted white;
    /* width: 300px;
    height: 300px; */
}

.child3{
    background-color: green;
    border: 1px solid yellow;
    /* width: 300px;
    height: 300px; */
}

.child4{
    background-color: beige;
    border: 1px solid blue;
    /* width: 300px;
    height: 300px; */
}

/* div:nth-child(2){
    background-color: #221f1f;
    border: solid white;
    width: 300px;
    height: 300px;
} */
/* p:nth-of-type(3){
    color: aqua;
    background-color: #fff;
}
p:nth-child(3){
    color: aqua;
    background-color: #fff;
} */